.container {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    background-image: url('dollar.png');
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  p {
    margin-top: 10px;
  }
  .title{
position: absolute;
color: black;
font-weight: bolder;
  }
.body{
color: black;
}
  